#{{ ansible_managed }}

[Unit]
Description=Autodl-Irssi
Requires=network.target local-fs.target

[Service]
Type=forking
KillMode=none
User={{ rtorrent_user }}
ExecStart=/usr/bin/tmux -L autodl-irssi new-session -d -s autodl-irssi -n Autodl-Irssi /usr/bin/irssi
ExecStop=/usr/bin/tmux -L autodl-irssi send-keys -t autodl-irssi /exit C-m

[Install]
WantedBy=multi-user.target
